.cardUser {
    background-color: #FFF;
    margin: 10px;
    max-width: 80%;
    
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;

    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.55);
}

.info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.info span,
.info strong {
    margin-top: 5px;
}

@media(max-width: 500px){
    .cardUser {
        max-width: 480px;
    }
}