
.containerError {
    height: 50vw;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
}

.containerError h2 {
    color: red;
    font-size: 3rem;
}
.containerError span {
    font-weight: bold;
    font-size: 1.5rem;
}